h1, h2, h3, h4, h5, h6, p {
  color: #63320e
}
p {
  font-size: 18px;
  font-weight: 100;
}
a {
  color:rgb(0,185,0)
}
.page-link {
  color: rgb(0,185,0)
}
.btn{
  color:rgb(0,185,0)
}
#mainNav {
  z-index: 2000;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
 }
  #mainNav .navbar-brand {
    font-weight: 800;
    color: #63320e; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40; }
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase; }
  @media only screen and (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
       }
      #mainNav .navbar-brand {
        padding: 10px 20px;
        color:#63320e; }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color:rgb(0,185,0); }
      #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 20px;
        color: #63320e; }
        #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
          color: rgb(0,185,0); } }
          .sticky {
            position: fixed;
            top: 0;
            width: 100%;
          }
          
          /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
          .sticky + .content {
            padding-top: 60px;
          }